.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
    align-self: flex-end;
    justify-self: flex-end;
}

@media screen and (max-width: 568px) {
    .header__logo {
        font-size: 18px;
        line-height: 20px;
    }
}