.place__title {
  min-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
}

@media screen and (max-width: 1140px) {
  .place__title {
    min-width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    min-width: 340px;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    min-width: 288px;
  }
}