.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-align: left;
}

.footer__column-link:hover {
  opacity: 50%;
  transition: opacity 1s ease 0s;
}