.places {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(5, minmax(min-content, min-content));
  align-content: center;
  justify-content: center;
  width: auto;
  max-width: 984px;
  grid-row-gap: 80px;
  grid-auto-flow: column;
  margin: auto;
}

  @media screen and (max-width: 984px) {
    .places {
      grid-row-gap: 73px;
    }
  }

  @media screen and (max-width: 568px) {
    .places {
      grid-row-gap: 50px;
    }
  }

