.places {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-rows: min-content min-content;
  align-content: center;
  justify-content: center;
  width: auto;
  max-width: 984px;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-auto-flow: row;
  margin: auto;
}

@media screen and (max-width: 1140px) {
  .places {
    grid-column-gap: 32px;
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    grid-column-gap: 28px;
    margin: 0 auto 73px;
    max-width: 720px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-row-gap: 32px;
    margin: o auto 50px;
    max-width: 320px;
  }
}