.footer__links {
  display: flex;
  flex-direction: row;
  width: min-content;
  align-content: flex-start;
}

@media screen and (max-width: 800px) {
  .footer__links {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 568px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}