.footer__links {
  display: flex;
  flex-direction: row;
  width: min-content;
  align-content: flex-start;
}

  @media screen and (max-width: 740px) {
    .footer__links {
      flex-direction: column;
      margin-bottom: 48px;
    }
  }