.lead__image {
  min-height: 615px;
  background-image: url(../../../images/lead-polka.jpg);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;  
}

@media screen and (max-width: 1140px) {
  .lead__image {
    /*min-width: 928px;*/
    min-height: 580px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    /*min-width: 768px;*/
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    /*min-width: 100%;*/
    min-height: 200px;
  }
}