.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin-left: 148px;
}

@media screen and (max-width: 1140px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
}