.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  align-content: center;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0 auto;
  box-sizing: border-box;
}

  @media screen and (max-width: 1140px) {
    .place {
      grid-column-gap: 32px;
      max-width: 928px;
    }
  }

  @media screen and (max-width: 984px) {
    .place {
      grid-column-gap: 28px;
      max-width: 720px;
    }
  }

  @media screen and (max-width: 568px) {
    .place {
      grid-template-columns: minmax(min-content, max-content);
      grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
      grid-row-gap: 32px;
      max-width: 320px;
    }
  }