.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 48px 0;
  justify-content: space-between;
}

  @media screen and (max-width: 984px) {
    .footer {
      padding: 0 24px 0;
    }
  }

  @media screen and (max-width: 740px) {
    .footer {
      padding: 0 16px 0;
      flex-direction: column;
    }
  }