.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo {
  height: 32px;
  width: 228px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0 0 0 64px;
  max-width: 730px;
  font-weight: 700;
  font-size: 102px;
  z-index: 3;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 608px;
  width: 765px;
  background-image: url(../images/header-image.png);
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.two-columns {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 100px;
}

.two-columns__brief {
  display: block;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  position: relative;
  padding-bottom: 100px;
}

.section-title {
  max-width: 60%;
  text-align: center;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  max-width: 60%;
  margin: 0 auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto 0;
}

.feynman {
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  min-height: 890px;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  max-width: 648px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top: 0;
  background-size: contain;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 3;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 0;
  z-index: 2;
}

.table__cell_theme_dark {
  max-width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.footer {

  box-sizing: border-box;
  background-color: #1f1f1f;

}

.footer__columns {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  min-height: 350px;
  padding-bottom: 40px;
  padding-top: 60px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: left;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-align: left;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 20px;
}