.cover__item {
  position: relative;
  min-height: 740px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.cover__item::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .2s;
  z-index: -1;
}

.cover__item:hover::before {
  opacity: .8;
}

  @media screen and (max-width: 1140px) {
    .cover__item {
      min-height: 640px;
    }
  }

  @media screen and (max-width: 984px) {
    .cover__item {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 568px) {
    .cover__item {
      min-height: 200px;
    }
  }