.intro__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
    justify-self: flex-start;
}

  @media screen and (max-width: 984px) {
      .intro__title {
        max-width: 790px;
      }
    }

  @media screen and (max-width: 568px) {
      .intro__title {
          font-size: 32px;
          line-height: 109%;
          width: 100%;
      }
  }